<div class="abilities">
    <button ng-if="vm.editMode" 
            class="button button-block button-light icon-left ion-plus"
            ng-click="vm.openModal('ABILITIES')">
        Add an ability
    </button>
    <ion-list prevent-drag
                show-reorder="vm.editMode">
        <ion-item ng-repeat="ability in vm.character.abilities"
                  class="item">
            <h2>{{ability.name}}</h2>
            <p>{{ability.description}}</p>
            <ion-option-button class="button-assertive" ng-click="vm.editCard(ability, 'EDIT_ABILITIES')">
                edit <i class="icon ion-edit"></i>
            </ion-option-button>
            <ion-reorder-button class="ion-navicon"
                on-reorder="vm.reorderItem(ability, $fromIndex, $toIndex)">
            </ion-reorder-button>
        </div>
        </ion-item>
    </ion-list>
    
</div>