<div class="abilities">
    <button ng-if="vm.editMode" 
            class="button button-block button-light icon-left ion-plus"
            ng-click="vm.openModal('ABILITIES')">
        Add an ability
    </button>
    <div class="card" ng-repeat="ability in vm.character.abilities | orderObjectBy : 'order'">
        <div class="item item-divider">
            <h2>{{ability.name}}</h2>
        </div>
        <div class="item item-text-wrap">
            <p>{{ability.description}}</p>
            <p>{{ability.order}}</p>
        </div>
        <div class="item item-divider" ng-show="vm.editMode">
            <a class="icon-right" ng-click="vm.editCard('abilities',ability.id, 'EDIT_ABILITIES')">
                <i class="icon ion-edit"></i>
            </a>
        </div>
    </div>
    
</div>