<ion-view>
  <ion-nav-title align-title="right">
      {{vm.character.name}} -- {{vm.character.class}} {{vm.character.level}}
      <a id="editMode" class="ion-edit" ng-class="{toggled: vm.editMode}" ng-click="vm.editMode = !vm.editMode"></a>
  </ion-nav-title>
  <ion-content>
    <div ng-if="vm.editMode" class="list">
      <label class="item item-input">
        <div class="input-label">
          Name:
        </div>
        <input type="text" name="characterName" placeholder="Name" ng-model="vm.character.name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Class:
        </div>
        <select ng-model="vm.character.class" ng-options="stat.name as key for (key, stat) in vm.charClasses">
            
        </select>
      </label>
      <label class="item item-input">Level:
          <input ng-model="vm.character.level" type="number">
      </label>
    </div>
    <armor-class character="vm.character" edit-mode="vm.editMode"></armor-class>
    <hitpoints></hitpoints>
    <ion-list>
      <ion-item class="item-input">
        <div class="input-label">Initiative:</div> 
        <span ng-show="vm.modifier(vm.character.stats.dexterity.score) >= 0">+</span>
        {{vm.modifier(vm.character.stats.dexterity.score)}}
      </ion-item>
      <ion-item class="speed item-input">
        <div class="input-label">Speed:</div>
        <span ng-if="!vm.editMode && vm.character.other.speed">{{vm.character.other.speed}}</span>
        <span ng-if="!vm.editMode && !vm.character.other.speed">30 ft (default)</span>
        <input ng-if="vm.editMode" type="text" ng-model="vm.character.other.speed" placeholder="30 ft"/>
      </ion-item>
    </ion-list>
    <death-saves  ng-if="!vm.editMode"></death-saves>
    
    <character-stats character="vm.character" edit-mode="vm.editMode"></character-stats>
    <skills character="vm.character" edit-mode="vm.editMode"></skills>
    <quick-menu></quick-menu>
  </ion-content>
</ion-view>
