<ion-view>
  <ion-nav-title align-title="right">
    {{vm.character.name}} -- {{vm.character.class}} {{vm.character.level}}
    <a id="editMode" class="ion-edit" ng-class="{toggled: vm.editMode}" ng-click="vm.editMode = !vm.editMode"></a>
  </ion-nav-title>
  <ion-content scroll="false">
    <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction='x' class="tsb-hscroll">
            <a href="javascript:;"> Summary</a>
            <a href="javascript:;">Combat</a>
            <a href="javascript:;">Social</a>
            <a href="javascript:;">Abilities</a>
            <a href="javascript:;">Equipment</a>
            <a href="javascript:;">Spells</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" active-slide="vm.currentSlide">
        <!-- SUMMARY SLIDE -->
        <ion-slide>
          <ng-include src="'templates/slide.summary.html'"></ng-include>
          </ion-scroll>
        </ion-slide>
        <!-- COMBAT SLIDE -->
        <ion-slide>
          <ng-include src="'templates/slide.combat.html'"></ng-include>
        </ion-slide>
        <!-- SKILLS SLIDE -->
        <ion-slide>
          <ion-scroll style="height:100%">
            <skills character="vm.character" edit-mode="vm.editMode"></skills>
          </ion-scroll>
        </ion-slide>
        <!-- ABILITIES SLIDE -->
        <ion-slide>
          <ion-scroll style="height:100%;">
            <ng-include src="'templates/abilities.html'"></ng-include>
          </ion-scroll>
        </ion-slide>
        <!-- EQUIPMENT SLIDE -->
        <ion-slide>EQUIPMENT</ion-slide>
        <!-- SPELLS SLIDE -->
        <ion-slide>SPELLS</ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
