<div class="abilities" ng-controller="abilitiesCTRL as abilityVM">
    <button ng-if="vm.editMode" 
            class="button button-block button-light icon-left ion-plus"
            ng-click="abilityVM.openModal('ABILITIES')">
        Add an ability
    </button>
    <button ng-if="abilityVM.reorder" 
            class="button button-block button-light icon-left ion-minus"
            ng-click="abilityVM.reorder = false">
        Done Reordering
    </button>
    <ion-list prevent-drag
                can-swipe="vm.editMode"
                show-reorder="abilityVM.reorder">
        <ion-item ng-repeat="ability in abilityVM.character.abilities"
                  class="item">
            <h2>{{ability.name}}</h2>
            <p>{{ability.description}}</p>
            <ion-option-button class="button-assertive" ng-click="abilityVM.editCard(ability, 'EDIT_ABILITIES', $index)">
                edit &nbsp; <i class="icon ion-edit"></i>
            </ion-option-button>
            <ion-reorder-button class="ion-navicon"
                on-reorder="abilityVM.reorderItem(ability, $fromIndex, $toIndex)">
            </ion-reorder-button>
        </div>
        </ion-item>
    </ion-list>
    
</div>